.paymentDetails {
  position: relative;
  font-size: var(--titles-h2-size);
}
.label {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.input1 {
  width: 99px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input,
.inputParent,
.inputsearchoutline {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.inputsearchoutline {
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 54px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-xl);
  color: var(--color-lightslategray);
}
.input,
.inputParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xs);
}
.inputParent {
  gap: var(--gap-6xl);
}
.iconStroke {
  width: 14px;
  position: relative;
  height: 8px;
}
.inputsearchoutline2 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-xl);
  color: var(--color-lightslategray);
}
.inputWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.billingInfo,
.inputKopie7Icon {
  position: relative;
}
.inputKopie7Icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 141px;
  flex-shrink: 0;
}
.billing {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  color: var(--color-gray-500);
}
.button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-lightseagreen-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-31xl);
}
.btn {
  width: 149px;
  position: relative;
  height: 43px;
  cursor: pointer;
}
.button1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightseagreen-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-31xl);
}
.btn1 {
  width: 156px;
  position: relative;
  height: 43px;
  cursor: pointer;
  color: var(--white);
}
.btnParent,
.frameParent,
.paymentDetailsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.btnParent {
  flex-direction: row;
  gap: var(--gap-16xl);
  color: var(--color-lightseagreen-100);
}
.frameParent,
.paymentDetailsParent {
  flex-direction: column;
}
.paymentDetailsParent {
  align-self: stretch;
  gap: var(--gap-16xl);
}
.frameParent {
  width: 744px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--cta-h3-size);
  color: var(--color-gray-400);
  font-family: var(--display-h3);
}
